extends layout

block content
  h1= title
  p Hello #{title}

  button(type="button", class="btn btn-info" onclick="goFaster()") Press Me
  div#faster Increase the speed 
  a(href="/vehicles") Search Results of Vehicles
  script.
    let mph = 20;
    let change = 1;
    function goFaster() {
      mph += change;
      change += 1;
      document.getElementById('faster').textContent = `MPH ${mph} with change ${change}`; 
    }